<p>
  <strong>Title:</strong>
  <%= @article.title%>
</p>
<p>
  <strong>Correction:</strong>
  <%= @article.correction%>
</p>
<p>
  <strong>Original:</strong>
  <%= @article.original%>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'admin/comments/form' %>

<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
